<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.0/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>

<body
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/myapp/images/Background.jpg');
background-size: cover;
background-position: center;"
  class="bg-gradient-to-br from-blue-500 to-indigo-800 dark:bg-gray-900 h-screen flex items-center justify-center"
>
    <div class="container mx-auto flex justify-center items-center h-full px-2">
        <div class="w-full max-w-md px-4 md:px-8 bg-white rounded-lg shadow-lg dark:border dark:border-gray-700 md:mt-0 py-10 dark:bg-gray-800">
            <div class="text-center text-3xl font-semibold text-gray-800 mb-6">
                <span class="text-green-600">REGISTER ACCOUNT</span>
            </div>

            <form method="POST" action="">
                {% csrf_token %}
                <!-- Username Input -->
                <div class="mb-4">
                    <div class="flex items-center border-b-2 border-gray-300 focus-within:border-blue-500">
                        <span class="text-green-700 mr-3"><i class="fas fa-user"></i></span>
                        {{ form.username }}
                    </div>
                </div>

                <!-- Email Input -->
                <div class="mb-4">
                    <div class="flex items-center border-b-2 border-gray-300 focus-within:border-blue-500">
                        <span class="text-green-700 mr-3"><i class="fas fa-envelope"></i></span>
                        {{ form.email }}
                    </div>
                </div>

                <!-- Password Input -->
                <div class="mb-4">
                    <div class="flex items-center border-b-2 border-gray-300 focus-within:border-blue-500">
                        <span class="text-green-700 mr-3"><i class="fas fa-key"></i></span>
                        {{ form.password1 }}
                    </div>
                </div>

                <!-- Confirm Password Input -->
                <div class="mb-4">
                    <div class="flex items-center border-b-2 border-gray-300 focus-within:border-blue-500">
                        <span class="text-green-700 mr-3"><i class="fas fa-key"></i></span>
                        {{ form.password2 }}
                    </div>
                </div>

                {% if form.errors %}
                    <div class="text-red-600 text-sm mt-3 text-center">
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <!-- Submit Button -->
                <div class="mt-6">
                    <input class="w-full py-3 text-lg font-semibold text-white bg-green-900 rounded-lg hover:bg-green-500 focus:ring-4 focus:outline-none focus:ring-blue-300 transition duration-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" type="submit" value="Register Account">
                </div>
            </form>

            <div class="mt-4 text-center text-sm">
                <div class="text-gray-700">
                    Already have an account? <a href="{% url 'login' %}" class="font-medium text-green-900 hover:underline dark:text-green-300">Login</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        var form_fields = document.getElementsByTagName('input');
        form_fields[0].placeholder = 'Username..';
        form_fields[1].placeholder = 'Email..';
        form_fields[2].placeholder = 'Enter password...';
        form_fields[3].placeholder = 'Re-enter Password...';

        // Adding classes to form fields using JavaScript for better control
        for (var i = 0; i < form_fields.length; i++) {
            form_fields[i].classList.add('form-control', 'py-2', 'px-4', 'border-none', 'rounded-r-md', 'focus:ring-2', 'focus:ring-blue-500');
        }
    </script>
</body>

</html>
